* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282c36; /* Fundo mais escuro */
    color: #ffffff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    margin-bottom: 10px;
    color: #00aeff; /* Azul claro */
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #00aeff; /* Azul claro */
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0080cc; /* Azul mais escuro */
}

h2 {
    margin-top: 20px;
    font-size: 24px;
}

#resultado {
    font-weight: bold;
    color: #00aeff; /* Azul claro */
}
